.image-upload > input {
  display: none;
}

.form-newArt__bar-img {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
}

.form-newArt__img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.form-newArt__img img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2;
}

.form-newArt__img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: -1;
  cursor: pointer;
}

.form-newArt__img-cover::after,
.form-newArt__img-cover::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #d9d9d9;
  top: 50%;
  right: calc(50% - (30px / 2));
}

.form-newArt__img-cover::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
